<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head"></head>
<body>
<div th:replace="/layout :: reload"></div>
<div th:replace="/layout :: header"></div>


<div class="container-fluid menu-navbar" th:fragment="menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/type/{type}(type=${'áo'})}">Áo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/type/{type}(type=${'quần'})}">Quần</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/type/{type}(type=${'giày'})}">Giày</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="regex" th:value="${regex}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <th:block th:if="${mess}">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-9 col-xl-9">
                <img class="img-responsive img-thumbnail" th:src="@{'/content/' + meomeomeo.jpg}" width="550px"
                     height="200px"
                     alt="Khongcoanh"/>
            </div>
        </th:block>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 product" th:each="product : ${products}">
            <div class="block-image-product" style="position: relative">
                <img th:src="@{'/content/' + ${product.getAvatar()}}" class="img-responsive img-thumbnail"
                     alt="không có"
                     style="overflow: hidden; width: 300px; height: 250px;">
                <div class="block-status-product"
                     style="height: 30px; text-align: center ; position: absolute ; top: 10px ; left: 10px ;background-color: #ff253a">
                    <h5 th:if="${product.getAmount() == 0}">
                        <span style="color: white ; margin: 5px">Hết hàng</span>
                    </h5>
                </div>
            </div>
            <div class="block-name-product" style="text-align: center; margin-top: 10px" th:text="${product.getName()}">
            </div>
            <div class="block-price-product" style="text-align: center" th:text="${product.getPrice()}+' VNĐ'">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 product"></div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 product">
            <a role="button" class="btn btn-primary" th:href="@{'/'(page=${products.number - 1},regex=${regex})}"
               th:if="${products.hasPrevious()}">Previous</a>
            <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
            <a role="button" class="btn btn-primary" th:href="@{'/'(page=${products.number + 1},regex=${regex})}"
               th:if="${products.hasNext()}">Next</a>
        </div>
    </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>